/* General Header Styles */
#header {
    color: #1a1a1a;
    padding-top: 2rem;
    position: fixed;
    z-index: 9999;
    width: 100%;
}

/* Header Container */
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 2.5rem;
    background-color: var(--white);
    border-radius: 2.25rem;
}

/* Logo Styles */
.logo__branding {
    text-align: left;
}
.logo__image {
    max-height: 48px;
    min-height: 40px;
}

/* Navigation Styles */
.nav__menu {
    display: none; /* Hide the menu by default */
    flex-direction: column; /* Stack menu items vertically */
    width: 100%;
}

.nav__menu.active {
    display: flex; /* Show the menu when active */
}

.menu-toggle {
    display: none; /* Hidden by default */
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .menu-toggle {
        display: block; /* Show hamburger icon on mobile */
    }

    .nav__menu {
        display: none; /* Ensure nav menu is hidden by default */
    }

    .nav__menu.active {
        display: flex; /* Show the menu when active */
    }

    .header__container {
        flex-direction: column; /* Stack elements vertically on mobile */
        align-items: stretch;
        text-align: center;
    }

    .nav__menu ul {
        flex-direction: column; /* Stack menu items vertically */
        align-items: center;
    }

    .nav__menu li {
        margin: 0.5rem 0;
        border-bottom: 1px solid #555;
        width: 100%;
    }

    .nav__menu a {
        width: 100%;
        text-align: center;
    }
}