* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Hero Section */

.hero__content {
    text-align: center;
    margin: 0 auto;
    max-width: 1500px;
}

.hero__content h1 {
    margin: 2rem auto;
    color: #373737;
    font-size: 3rem;
}

.hero__text {
    margin: 0 auto;
    max-width: 1200px;
    justify-content: center;
}
.hero__text p {
    color: #373737;
    font-size: 1.5rem;
    line-height: 1.5;
    

}

.collaborators {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.collaborators__text {
    text-align: right;
    max-width: 1200px;
}

.collaborators__text p{
    color: #373737;
    font-size: 1.5rem;
    line-height: 1.5;
    max-width: 1200px;
}

.collaborator__logos img {
    width: 10rem;
    height: auto;
    object-fit: contain;
    margin: 1rem;
    border-radius: 5px; 
    transition: background-color 0.3s;
}

/* FlowChart Container */
.container {
    display: flex;
    max-width: 1500px;
    margin: 1rem auto;
    padding: 0 1rem;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.flowchart {
    flex: 1;
    margin-right: 20px;
}

.flowchart__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container__node__1 {
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
    align-items: center;
}

.node {
    background-color: #fff;
    border: 2px solid #007bff;
    border-radius: 5px;
    padding: 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    text-align: center;
    width: 100%;
}


.container__node__3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 1rem 2rem;
}

.layout {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
}


.box {
    background-color: #fff;
    border: 2px solid #28a745;
    border-radius: 5px;
    padding: 3rem;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.large__box {
    margin-top: 2rem;
    background-color: #fff;
    border: 2px solid #28a745;
    border-radius: 5px;
    padding:  6rem;
    text-align: center;
    width: 100%;
    
}

/* Take Control Portofolio */
.take__control_portofolio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1500px;
}

.take__control__text {
    text-align: center;
    margin: 2rem auto;
}
.take__control__text h2 {
    color: #373737;
    font-size: 3rem;
}
.take__control__text p {
    color: #373737;
    font-size: 3rem;
    line-height: 1.5;
    max-width: 1200px;
}

.take__control__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    gap: 2rem;
}

.primary__btn {
    padding: 1rem 2rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 20px;
    border: 1px solid #007bff;
}
.primary__btn:hover {
    background-color: #0056b3;
}   

.secondary__btn {
    background-color: #28a745;
    padding: 1rem 2rem;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    transition: background-color 0.3s ease;
    font-size: 20px;
    border: 1px solid #28a745;
}
.secondary__btn:hover {
    background-color: #218838;
}

.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 2rem auto;
    max-width: 1500px;
    padding: 0 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card__image {
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* Features Section */
section.features {
    height: 100vh;
    background-image: var(--bg-gradient);
}
